@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Cars <a href="Cars">CLICK</a>.</p>
    <p>Humen <a href="Humen">CLICK</a>.</p>
    <p>Parkings <a href="Parkings">CLICK</a>.</p>
    <p>Parking-Cars <a href="ParkingCars">CLICK</a>.</p>
</div>
